" -------------
" -- General --
" -------------
" Searching with `/` highlights results as you type.
set incsearch

" Screen flashing instead of sounds for errors is enabled (only to disable it
" later).
set visualbell

" Use cs"' to change surroundings, ds( to delete surrounding parens, ys iw" to wrap a word in ".
set surround

" Use gcc to comment a line, gc + motion to comment a block.
set commentary

" Gives you a brief visual flash of what you just yanked.
set highlightedyank

" Displays a popup with available keybindings as you type.
set which-key

" Screen flashing is disabled at a terminal level.
set t_vb=

" Set leader as space character.
let mapleader = ' '

set scrolloff=8
set incsearch
set smartcase
set number
set relativenumber
set clipboard+=unnamed
set clipboard+=ideaput
set ideamarks

set quickscope
set easymotion

nmap s <Action>(AceAction)

" --------------
" -- Bindings --
" --------------
" Use 0 as ^.
:noremap 0 ^
:noremap ^ 0a

" Use jj to escape Insert mode.
imap jj <Esc>

" Make sure <C-c> behaves as <Esc> (it helps with autoclosing windows).
imap <C-c> <Esc>

" Tabs.
:nnoremap J gT
:nnoremap K gt

" Put a `;` character at the end of the line.
:nnoremap <Leader>; mzA;<Esc>`z
